.section-center{
    background-color: #fd7c6e ;
    color: #fff;
    width: 650px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0 auto; 
    margin-top: 50px;

}
body{
    background-color: #F5F5F5;
}
.gift-img{
    display: flexbox;
}

img{
    display: block;
}

.deadline{
    display: flex;
    gap: 10px;
    align-items: baseline;
    margin-left: 150px;

}

h4{
    margin: 0;
}
.deadline div{
    background: #D3D3D3;
    padding: 5px 10px;
    color: #fd7c6e;
    border-radius: 4px;

}